.DS_Store
Lab1/.DS_Store
Lab1/.vscode/
Lab1/sum
Lab1/Sum.dSYM/
Lab1/sum.out
Lab1/Sum.out.dSYM/
Lab2/.DS_Store
Lab2/.vscode/
Lab2/cache_example
Lab2/cache_example.dSYM/
Lab2/cache_example.out
Lab2/cache_example.out.dSYM/
Lab3/.DS_Store
Lab3/.vscode/
Lab3/profile_example
Lab3/profile_example.dSYM/
Lab3/profile_example.out
Lab3/profile_example.out.dSYM/
Assignment/.DS_Store
Assignment/src/.vscode/
Assignment/src/main
Assignment/src/main.dSYM/
Assignment/src/main.out
Assignment/src/main.out.dSYM/
Assignment/src/cachegrind.out*